{
    "compact": false,
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-es2015-modules-commonjs",
        "transform-export-extensions",
        [
            "babel-root-import",
            {
                "rootPathSuffix": "src"
            }
        ]
    ]
}
