{
    "rules":{
        "no-unused-expressions": 0,
        "import/no-extraneous-dependencies": 0
    },
    "globals":{
        "beforeEach": false,
        "afterEach": false,
        "setupTimeout": false
    }
}
