{
    "rules": {
        "no-unused-expressions": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": 0,
        "global-require": 0
    },
    "globals": {
        "beforeEach": false,
        "afterEach": false,
        "before": false,
        "after": false,
        "setupTimeout": false,
        "ice": false
    }
}
