{
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy"
    ],
    "env": {
        "coverage": {
            "plugins": [
                [
                    "__coverage__",
                    {
                        "ignore": "*.+(test|stub).*"
                    }
                ]
            ]
        }
    }
}
