{
    "presets": ["es2015", "stage-0", "react"],
    "plugins": ["transform-decorators-legacy", "transform-flow-strip-types"],
    "env": {
        "coverage": {
            "plugins": [
                ["__coverage__", {
                    "ignore": "*.+(test|stub).*"
                }]
            ]
        }
    }
}
