node_modules
coverage
# dist # just push the build to git for now
npm-debug.log
tests/config/.chrome_dev_user
.idea
.chrome_dev_user
.DS_Store
env.sh
build
.nyc_output
.vscode
.opt-in
.package.json.md5
